<h1>投稿を編集</h1>

<%= form_for @tweet do |f| %>

  <!-- タスク名 -->
  <div class="field">
    <%= f.label :title, "タスク名" %>
    <%= f.text_field :title, size: 30 %>
  </div>

  <!-- 締切 -->
  <%= f.datetime_field :deadline %>

  <!-- かかりそうな時間 -->
  <div class="field">
    <%= f.label :estimated_time, "かかりそうな時間（分）" %>
    <%= f.number_field :estimated_time, size: 10 %>
  </div>

  <!-- メモ -->
  <div class="field">
    <%= f.label :memo, "メモ" %>
    <%= f.text_area :memo, size: "30x2" %>
  </div>

  <!-- タグ -->
  <div class="field">
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.submit "編集する" %>

  <%= link_to "一覧に戻る", tweets_path %>

<% end %>