<div class="mypage-wrapper">

  <!-- ===== PROFILE ===== -->

  <div class="profile-card">

    <% if @user.image.attached? %>
      <%= image_tag @user.image, class:"profile-image" %>
    <% end %>

    <div class="profile-info">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p class="profile-text"><%= @user.profile %></p>

      <% if current_user.id == @user.id %>
        <%= link_to "編集する", edit_user_registration_path, class:"edit-button" %>
      <% end %>
    </div>

  </div>


  <!-- ===== HISTORY ===== -->

  <h2 class="history-title">気分履歴</h2>

  <div class="calendar-grid">

    <% @results_by_date.each do |date, result| %>

      <div class="calendar-day
        <% if date == Date.today %> today <% end %>
        <% if result&.mood_type == "energetic" %> energetic-bg
        <% elsif result&.mood_type == "normal" %> normal-bg
        <% elsif result&.mood_type == "tired" %> tired-bg
        <% end %>">

        <span class="calendar-date">
          <%= date.strftime("%d") %>
        </span>

      </div>

    <% end %>

  </div>

</div>
