<%= form_for(@perfume) do |f| %>

    <div class="sindan-container">

    <h2 class="sindan-title">🌸 今日の気分診断 🌸</h2>

    <!-- Question 1 -->
    <div class="question-card active">
        <p class="question-text">今日、体を動かしたい気分？</p>

        <label class="choice">
        <%= f.radio_button :question1, "1" %>
        <span>外出OK！</span>
        </label>

        <label class="choice">
        <%= f.radio_button :question1, "2" %>
        <span>できれば動きたくない...</span>
        </label>
    </div>

    <!-- Question 2 -->
    <div class="question-card">
        <p class="question-text">今、頭を使うのは…</p>

        <label class="choice">
        <%= f.radio_button :question2, "1" %>
        <span>わりといけそう！</span>
        </label>

        <label class="choice">
        <%= f.radio_button :question2, "2" %>
        <span>正直しんどい...</span>
        </label>
    </div>

    <!-- Question 3 -->
    <div class="question-card">
        <p class="question-text">今日はどっちを優先したい？</p>

        <label class="choice">
        <%= f.radio_button :question3, "1" %>
        <span>達成感🌟</span>
        </label>

        <label class="choice">
        <%= f.radio_button :question3, "2" %>
        <span>安心感、気楽さ💓</span>
        </label>
    </div>

    <!-- Question 4 -->
    <div class="question-card">
        <p class="question-text">予定が一つ増えるのは？</p>

        <label class="choice">
        <%= f.radio_button :question4, "1" %>
        <span>大丈夫！</span>
        </label>

        <label class="choice">
        <%= f.radio_button :question4, "2" %>
        <span>もう無理💦</span>
        </label>
    </div>

     <!-- submitボタン（最初は非表示） -->
    <%= f.submit "診断する", class: "sindan-button" %>

    </div>

<% end %>
